<!DOCTYPE html>
<html>
  <link href="/css/bootstrap.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css">
  <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
<body>

<div class="container">
  <a href="/main/{{name}}/{{defaultCategory}}/{{defaultActivity}}/{{defaultArray}}/{{labelArray}}"><img class="img-responsive" src="/img/back.PNG"></a>
</div>

<div class="container">

    <h1 style="text-align: center; font-family: 'Rubik', sans-serif;"">Delete Activity</h1>

  <!--   <form action="addActivity/{{uname}}/"> -->
<!--     <form action="/addActivity/"> -->

<!--       <input name="myName" value="{{name}}" style="display:none;">
      <input name="activity" value="{{defaultActivity}}" style="display:none;">
      <input name="category" value="{{defaultCategory}}" style="display:none;">
      <input name="data" value="{{defaultArray}}" style="display:none;">
      <input name="dates" value="{{labelArray}}" style="display:none;"> -->

      <br>

<!--       <div class="container form-group">
        <label for="act"><b>Activity:</b></label>
        <input type="text" class="form-control" placeholder="Enter Activity Name" name="actName" id="act" required>
      </div> -->
      <p>Are you sure you want to delete this activity?</p>

      <div class="container">
        <button type="button" style="margin-left: 15px;" class="btn btn-danger btn-lrg"><a href="/main/{{name}}/{{defaultCategory}}/{{defaultActivity}}/{{defaultArray}}/{{labelArray}}">Delete</a></button>
      </div>
<!--     </form> -->

</div>

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/javascript/jquery-activity.js"></script>
  <script src="/javascript/bootstrap.js"></script>
  <script>function goBack() {window.history.back();}</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>
</body>
</html>